logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
.github/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/app/web/dist
/app/public

# misc
.DS_Store

# umi
/app/web/src/.umi
/app/web/src/.umi-production
/app/web/src/.umi-test
/app/web/.env.local
